<div class="contact-card">
    <div class="content">
        <div class="icon-container">
            <i class="fas fa-question-circle"></i>
        </div>
        <span class="question-text">Не можете найти свой запрос?</span>
    </div>
  
    <form class="form">
        <div class="input-name col-12 col-md-6">
            <input type="text" placeholder="Введите ваше имя" />
        </div>
        <div class="input-mobile col-12 col-md-6">
            <input type="tel" placeholder="Введите ваш номер телефона" />
        </div>
        <button type="submit" class="callback-button col-12">Запросить обратный звонок</button>
    </form>
  </div>
  