<div class="contact-card">
    <div class="content">
      <div class="icon-container">
        <i class="fas fa-question-circle"></i>
      </div>
      <span class="question-text">Unable to find your query?</span>
    </div>
    
    <form class="form">
      <div><input type="text" class="input-name" placeholder="Enter Your Name" /></div>
      <div class="input-mobile">
        <!-- <span class="country-code">+91</span> -->
        <input type="tel" placeholder="Enter Your Mobile Number" />
      </div>
      <div class="buto"><button type="submit" class="callback-button">Request Callback</button></div>
    </form>
  </div>
  