<div class="headi">
  <div class="headin">
    <h1 class="section-heading">Наши лучшие <span class="highlight">больницы</span></h1>
  </div>

  <div class="carousel-container">
    <div class="navigation-panel">
      <button class="btn btn-nav"
              [disabled]="!canGoPrevious()"
              (click)="previous()">
        <i class="arrow left"></i>
      </button>
    </div>
  
    <div class="hospital-carousel">
      <div class="row flex-nowrap g-4">
        <div *ngFor="let hospital of visibleHospitals; let i = index" 
             class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="hospital-card" 
               [ngClass]="{'hovered': hoveredIndex === i, 'not-hovered': hoveredIndex !== null && hoveredIndex !== i}"
               (mouseenter)="setHoveredIndex(i)"
               (mouseleave)="setHoveredIndex(null)">
            <div class="image-container">
              <img [src]="hospital.imageUrl" [alt]="hospital.name" class="img-fluid">
            </div>
            <div class="hospital-info">
              <h2>{{hospital.name}}</h2>
              <!-- <p>{{hospital.location}}</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="navigation-panel">
      <button class="btn btn-nav"
              [disabled]="!canGoNext()"
              (click)="next()">
        <i class="arrow right"></i>
      </button>
    </div>
  </div>
</div>
