<div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h2>Modern Medicine</h2>
        <img src="assets/service_1.png" 
             alt="Left Image" 
             class="img-fluid" 
             (click)="openLeftComponent()" 
             style="cursor: pointer;">
      </div>
      <div class="col-md-6 text-center">
        <h2>AyurvediC Medicine</h2>
        <img src="assets/ayur_img/bg3.png" 
             alt="Right Image" 
             class="img-fluid" 
             (click)="openRightComponent()" 
             style="cursor: pointer;">
      </div>
    </div>
  </div>
  