<div class="hero-section">
  <div class="hero-content">
    <p class="hello-text">Привет Всем</p>
    <h1 class="main-title">
      ДА, МЫ ЗАБОТИМСЯ И ОСМЕЛИВАЕМСЯ ПРЕДОСТАВИТЬ ВСЕ.
    </h1>
    <a routerLink="/service-card"><button class="cta-button">ИЗУЧИТЬ СОВРЕМЕННЫЕ УСЛУГИ</button></a>
  </div>
</div>
<div class="row">
  <div class="head-text">
    <h2>Список услуг, которые мы предлагаем</h2>
  </div>

  <div class="col-md-4 mb-4" *ngFor="let service of services">
    <div class="card h-100 service-card">
      <img [src]="service.imageUrl" class="card-img-top" alt="{{ service.title }}">
      <div class="card-body" [ngStyle]="{'background-image': 'url(' + service.backgroundUrl + ')'}">
        <h5 class="card-title">{{ service.title }}</h5>
        <p class="card-text">{{ service.description }}</p>
      </div>
    </div>
  </div>
</div>
