<div class="home-container" [style.min-height]="viewHeight">
  <div class="content-wrapper" [class.blur]="showCircleCard">
    <div class="hero-section" >
      <app-bg></app-bg>
    </div>
    
    <div class="card-section">
      <app-hospital-card></app-hospital-card>
      <div #trigger class="scroll-trigger"></div>
    </div>
  </div>

  <!-- <div *ngIf="isLoading" class="loading-indicator">
    <div class="spinner"></div>
    <span>Loading...</span>
  </div> -->

  <ng-container #circleCardContainer></ng-container>
</div>
