<!-- landing-page.component.html -->
<div class="hero-section">
  <div class="hero-content">
    <p class="hello-text">Здравствуйте, всем</p>
    <h1 class="main-title">
      ДА, МЫ ЗАБОТИМСЯ И ОСМЕЛИМСЯ ПРЕДОСТАВИТЬ ВСЁ.
    </h1>
    <a routerLink="/contact"><button class="cta-button">СВЯЖИТЕСЬ С НАМИ</button></a>
  </div>
</div>

<div class="services-section">
  <div class="row">
    <div class="head-text">
      <h2>Список услуг, которые мы предлагаем</h2>
    </div>

    <div class="col-md-3 mb-3" *ngFor="let service of services">
      <div class="card h-100 service-card">
        <img [src]="service.imageUrl" class="card-img-top" alt="{{ service.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ service.title }}</h5>
          <p class="card-text">{{ service.description }}</p>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="btn">
    <a routerLink="/contact">
      <button class="button-34" role="button">Получить оценку</button>
    </a>
    <button class="button-33" role="button">Чат</button>
  </div>
  <more-card></more-card>
  <cont-list></cont-list>
  <s-list></s-list>
  <div class="btn">
    <a routerLink="/about">
      <button class="button-34" role="button">УЗНАЙТЕ О НАС</button>
    </a>
    <!-- <button class="button-33" role="button">Чат</button> -->
  </div>
</div>
